<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/todo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Todo</title>
</head>


<body>
    
    <div class="container">
    <h1>Edit</h1>
    <div class="input-container">
        <form action="/edit" method="post">
            <input type="text" name="task" value="<%= todo._id %>" hidden>
        </form>
    </div>

    <div class="todo-container">
 
                <section class="edit-todo">
                 
                    <form action="/edit" method="post">
                        <input type="text" name="id" value="<%= todo._id %>" hidden>
                        <input type="text" class="edit" name="task" value="<%= todo.task %>">
                        <button type="submit">Edit</button>
                    </form>
                    
                </section>
        </div>
        
    </div>
    

</body>

</html>