<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet">
    <title>Todolist</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Online to-do list</h1>
            <h2>Plan, manage and track all your team's to-do's and checklists in one flexible software.</h2>
            <h3>Sign up and create your own to-do list today</h3>
        </div>

        <div class="secondSection">
            <p class="pencil"><i class="fas fa-clipboard-list"></i> <i class="fas fa-pencil-alt"></i></p>
        </div>
        <div class="auth">
            <div class="loginContainer">
                <p class="authText">Login to start organzing today</p>
                <p class="authText">create a personal to-do list</p>
                <a href="/login">Login here</a>
            </div>
            <div class="registerContainer">
                <p class="authText">Don't have an account?</p>
                <p class="authText">Sign up for free</p>
                <a href="/register">Sign up here</a>
            </div>


        </div>
        <footer>
            <div class="footer">
                <section class="socials">
                    <h4>Socials:</h4>
                    <p class="footerText"><i class="fab fa-facebook-square"></i></p>
                    <p class="footerText"><i class="fab fa-instagram"></i></p>

                </section>
                <section class="contact">
                    <h4>contact us:</h4>
                    <p class="footerText">dummytext@email.com</p>
                    <p class="footerText">+46 70 123 45 67</p>
                </section>
            </div>
        </footer>


    </div>




</body>

</html>