<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""></script>
    <title>Todo</title>
</head>


<body>
    <h1>Todolist</h1>
    <div class="input-container">
        <form action="/todo" method="post">
            <input type="text" name="task">
            <button type="submit">+</button>
        </form>
    </div>

    <% for (let i = 0; i <todos.length; i++) { %>
        <p><%= todos[i].task %></p>
    <%} %>

</body>

</html>